---
import { app } from "../../../firebase/server";
import {getFirestore} from "firebase-admin/firestore"
import Doc from "../../../components/Doc"
import BaseLayout from "../../../layouts/BaseLayout.astro";


export const getStaticPaths = async() => { 
    const db = getFirestore(app);
const categoryRef=db.collection("blog").doc("category");
    const categoryNameList = (await (await categoryRef.get()).ref.listCollections()).map((collection)=>{return collection.id});
    return categoryNameList.map((category)=>{return {params:{post:category}}})
}


const {post} = Astro.params;
//post에 해당하는 blog/category/{post}의 모든 문서를 list로 만들기

const db = getFirestore(app);
const postRef = db.collection("blog").doc("category").collection(post);
const postList = (await postRef.get()).docs.map((doc)=>{return doc.data()})

---

<BaseLayout page>
<h1>{post}</h1>
<ul>
 <Doc postList={postList} client:load/>
</ul>
</BaseLayout>