---
import {app} from "../firebase/server"
import {getFirestore} from "firebase-admin/firestore"
import {getStorage, getDownloadURL,} from "firebase-admin/storage"

const db = getFirestore(app);
const categoryRef=db.collection("blog").doc("category");
const categoryNameList = (await (await categoryRef.get()).ref.listCollections()).map((collection)=>{return collection.id});

const storage=getStorage(app);
const thumbnailList = await Promise.all(categoryNameList.map(async(category)=>{
const thumbUrl=`blog/category/${category}/thumbnail.png`;
const fileRef = storage.bucket(import.meta.env.FIREBASE_STORAGE_BUCKET).file(thumbUrl)
const downloadURL= await getDownloadURL(fileRef);
return downloadURL;
}))

const categoryObjectList = categoryNameList.map((category, index)=>{
   return {name: category, thumbnail: thumbnailList[index]}
})


---


<div class="categories">
   {categoryObjectList.map((category)=>{
      const link=`/blog/category/${category?.name}`
      return <div class="categoryContainer">
         <img src={category?.thumbnail}/>
         <a href={link}>{category?.name}</a>
      </div>})}
</div>